/* CSS Externo */

/* selector {
            propriedade: valor;
        } */

        body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }
        
        h1 {
            font-size: 2em; /* 1rem -> 16px 1em = 'M' */
            font-weight: bold;
        }
        
        h2 {
            font-size: 1.5rem;
            font-weight: 700;
        }
        
        header{
            background-color: #0077b6;
            padding: 1rem 2rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            position: sticky; /* pode ser necessário top, left, bottom ou right */
            top: 0;
        }
        
        ul {
            display: flex;
            justify-content: center;
            gap: 1rem;
        }
        
        section {
            margin: 1rem;
            padding: 1rem;
            /* border-width: 1px;
            border-style: solid;
            border-color: black; */
            border: 1px solid #000000;
        }
        
        p {
            margin-bottom: 1rem;
        }